@import "../../../node_modules/tailwindcss/base.css" layer(tailwindcss);
@import "../../../node_modules/tailwindcss/components.css" layer(tailwindcss);
@import "../../../node_modules/tailwindcss/utilities.css" layer(tailwindcss);
@import "primeng/resources/themes/aura-dark-indigo/theme.css";

.app-card {
	background-color: #232429;

	&-editor {
		background-color: #232429;
		padding: 16px;
		border-radius: 16px;
	}
}

.hover-links-primary {
	border: 1px solid transparent;
	&:hover {
		background-color: #c990ff40;
		cursor: pointer;
		border: 1px solid rgba(255, 255, 255, 0.404);
	}
}
